* {
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background-image: url("../images/grey_wash_wall.png");
}


/* general */

.mycontainer {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: rgb(62, 62, 92);
    padding-bottom: 10px;
    font-size: 36px;
    margin-bottom: 10px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
}


.mypic {
    min-height: 250px;
}

img {
    width: 240px;
}

#whttxt {
    color: white;
}

.tab { 
    display:inline-block; 
    margin-left: 40px; 
}

/* Header and Footer */

.myname {
    margin: auto;
    font-size: 2.00rem;
}

#myheader {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #fff;
  background: darkgray;
  border-bottom: 2px solid #ccc;
}

.mynavbar {
    background-color: rgb(62, 62, 92);
    padding: 12px 46px;
}
.navbar-rm {
    margin-right: 25px;
}

ul li {
    font-size: 14px;
    line-height: 6px;
    color: #999;
    border-left: 1px solid #efefef;
}

ul li a {
    color: #cccccc;
    font-weight: bolder;
}

ul li:first-child {
    border-left: none;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(62, 62, 92);
}

.my-footer {
    text-align: center;
    clear: both;
    width: 100%;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    line-height: 60px;
    background-color: darkgray;
    border-top: 8px solid rgb(62, 62, 92);
}

/* Main */

#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
}

.main-section {
    float: left;
    overflow: auto;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 4px solid #777;
    border-radius: 8px;
}

.socialbar {
    text-align: center;
    padding: 0px;
    border: 4px solid #777;
    margin: 10px;
    border-radius: 8px;
    background: #fff;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center; 
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: rgb(15, 120, 201);
    color: white;
}

/* Portfolio */

.mycard {
    margin: 10px auto;
    border: 4px solid #666666;
    border-radius: 30px;
}

.mycard img {
    border-radius: 25px 25px 0 0;
}

.mycardbody {
    padding: 0.10rem;
}

.ctr-txt {
    text-align: center;
}

.mycard-a {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    }

/* Contact */


form {
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    ul li {
        border-left: none;   
    }
}